pre, code { font-family: Hack, monospace; }

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white

}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: rgba(0,0,0,.5);
  padding: 5px;
  box-sizing: border-box;
}

img {
  transition: all 50ms ease 0s;
  background-attachment: fixed;
  top: 0
}

.Modal {
  transition: all 750ms ease 0s;
  position: fixed;
  z-index: 5;
  /* display: flex; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  color: black;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-5px) scale(2);
  background-size: 100%;
  z-index: -1;
  background-image: url('/speedyboi.png');
  transform-style: preserve-3d;
}

.TopSection {
  text-align: center;
  color: white;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
  perspective: 1px;
}

.RectButton {
  position: relative;
  padding: 5px;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.RectButton span {
  position: absolute;
  min-height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  transition: all 400ms ease 0s;
  /* min-width: 100%; */
}

.RectButton div {
  z-index: 1;
  transition: all 400ms ease 0s;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  /* position: absolute; */
}

.TopSection h1 {
  font-weight: normal
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.speedyboi {
  left: 0
}
@media only screen and (max-width: 600px) {
  .speedyboi {
    left: -250px;
  };
}

h3 {
  margin: 5px
}

h4 {
  margin: 5px
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.image-cropper {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TagBox {
  background-color: white;
  text-align: left;
  margin: 5px;
  margin-bottom: 0px;
}

.TagBox span {
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.TagBox div {
  width: 5px;
  display: inline-block
}

  /* when the library loads, each [data-delighter] 
      gets the .delighter class */

      .foo.delighter {
        transition: all .3s ease-out;
        transform: translateX(-100%);
        opacity: 0;
     }
  
     /* the .started class is set when the top
        of [data-delighter] is at 0.75 of the viewport 
        (where 0 is top and 1 is bottom) */
  
     .foo.delighter.started {
        transform: none;
        opacity: 1;
     }
  
     /* an extra .ended state is set when the bottom 
        of [data-delighter] is at 0.75 of the viewport
        (where 0 is top and 1 is bottom) */
  
     .foo.delighter.started.ended {
        border: solid red 10px;
     }

body {
  background-color: #607D8B;
}